@media (min-width: 768px) {
  .bg_header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -0.03%;
    bottom: 90.66%;

    background: rgba(0, 0, 0, 0.5);
  }
  .main1 {
    background-image: url("assets/main-bg1.jpg");
    height: 540px;
    width: 810px;
    background-size: cover;
  }

  .title p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40.5px;
    line-height: 46.5px;
    text-align: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    color: #ffffff;
    padding-bottom: 16px;
  }
  .main1 .description p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13.5px;
    line-height: 15.75px;
    /* identical to box height */

    letter-spacing: 1px;

    color: #ffffff;
    padding-bottom: 16.8px;
  }
  .btn-container button {
    font-size: 9px;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 45px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: center;
    padding-top: 28px;
  }
  .scroll {
    display: flex;
    flex-direction: column;
    padding-top: 11px;
    align-items: center;
  }
  .scroll p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 12px;
    text-align: justify;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 5.5px;
    margin-bottom: 0;
  }
  .the-game {
    background-image: url("assets/the-games-bg.jpg");
    height: 540px;
    width: 810px;
    background-size: cover;
  }

  .teks1 p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13.5px;
    line-height: 15.75px;
    letter-spacing: 1px;

    color: #ffffff;
  }
  .teks2 p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 31.5px;
    line-height: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ffffff;
  }
  .kiri {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kiri button {
    border: none;
    padding-top: 95px;
    padding-left: 28px;
  }
  .kanan {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kanan button {
    border: none;
    padding-right: 157px;
    padding-top: 95px;
  }
  .size-gunting {
    width: 75%;
  }
  .pict {
    padding-top: 17px;

    width: 421px;
  }
  .pd-teks {
    padding-top: 152px;
  }

  .main3 {
    background-image: url(assets/features.jpg);
    background-size: cover;
    width: 810px;
    height: 489px;
  }
  li.circle {
    list-style-type: circle;

    margin-top: -28px;
  }
  #tanda {
    height: 1rem;
    width: 1rem;
  }

  .list-style p {
    border-left: 1px solid rgb(255, 255, 255);
    padding: 8.5px;
    position: relative;
    left: -9px;
    top: -11px;
  }
  .system-requirements {
    background-image: url(./assets/bg\ image\ 4.png);
    background-size: cover;
    height: 544px;
    width: 810px;
  }
  .border {
    border: 1px solid #979797;
  }

  .req h3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13.5px;
    line-height: 15.75px;
    /* identical to box height */

    letter-spacing: 1px;

    color: #ffb548;
  }
  .req h5 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* or 122% */

    color: #ffffff;
  }

  .top-scores {
    background-image: url(./assets/topscore1.png);
    background-size: cover;
    height: 506px;
    width: 810px;
  }
  .user1 {
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .user2 {
    padding-right: 0px;
  }
  .user3 {
    padding-left: 0px;
    padding-top: 0px;
  }
  .footer {
    background-image: url(./assets/Rectangle\ 4.3.png);
    height: 477px;
    width: 810px;
  }
  .patung {
    width: 247px;
    padding-left: 56px;
  }
  .cbuser1 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5.6px;
    padding-left: 5.6px;
    padding-right: 5.6px;
  }
  .cbuser2 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5.6px;
    padding-left: 5.6px;
    padding-right: 11px;
  }
  .cbuser3 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5.6px;
    padding-left: 5.6px;
    padding-right: 11px;
  }
  .pd-topscore {
    padding-top: 1rem;
  }
}
@media (min-width: 992px) {
  .bg_header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -0.03%;
    bottom: 90.66%;

    background: rgba(0, 0, 0, 0.5);
  }
  .main1 {
    background-image: url("assets/main-bg1.jpg");
    height: 720px;
    width: 1080.75px;
    background-size: cover;
  }

  .title p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #ffffff;
    padding-bottom: 22.5px;
  }
  .main1 .description p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 1.5px;

    color: #ffffff;
    padding-bottom: 22.5px;
  }
  .btn-container button {
    font-size: 12px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 11.25px;
    padding-bottom: 11.25px;
    padding-right: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: center;
    padding-top: 37.5px;
  }
  .scroll {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
  }
  .scroll p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 16.5px;
    text-align: justify;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 7.5px;
    margin-bottom: 0;
  }
  .the-game {
    background-image: url("assets/the-games-bg.jpg");
    height: 720px;
    width: 1080px;
    background-size: cover;
  }

  .teks1 p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.5px;

    color: #ffffff;
  }
  .teks2 p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #ffffff;
  }
  .kiri {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kiri button {
    border: none;
    padding-top: 127px;
    padding-left: 37.5px;
  }
  .kanan {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kanan button {
    border: none;
    padding-right: 210px;
    padding-top: 127.5px;
  }
  .size-gunting {
    width: 75%;
  }
  .pict {
    padding-top: 22.5px;

    width: 562.5px;
  }
  .pd-teks {
    padding-top: 202.5px;
  }

  .main3 {
    background-image: url(assets/features.jpg);
    background-size: cover;
    width: 1081px;
    height: 652.26px;
  }
  li.circle {
    list-style-type: circle;

    margin-top: -37.5px;
  }
  #tanda {
    height: 1rem;
    width: 1rem;
  }

  .list-style p {
    border-left: 1px solid rgb(255, 255, 255);
    padding: 11.25px;
    position: relative;
    left: -12px;
    top: -15px;
  }
  .system-requirements {
    background-image: url(./assets/bg\ image\ 4.png);
    background-size: cover;
    height: 726px;
    width: 1080px;
  }
  .border {
    border: 1px solid #979797;
  }

  .req h3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 1.5px;

    color: #ffb548;
  }
  .req h5 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13.5px;
    line-height: 16.5px;
    /* or 122% */

    color: #ffffff;
  }

  .top-scores {
    background-image: url(./assets/topscore1.png);
    background-size: cover;
    height: 675px;
    width: 1080px;
  }
  .user1 {
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .user2 {
    padding-right: 0px;
  }
  .user3 {
    padding-left: 0px;
    padding-top: 0px;
  }
  .footer {
    background-image: url(./assets/Rectangle\ 4.3.png);
    height: 637px;
    width: 1080.2px;
  }
  .patung {
    width: 330px;
    padding-left: 75px;
  }
  .cbuser1 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .cbuser2 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 7.5px;
    padding-left: 7.5px;
    padding-right: 15px;
  }
  .cbuser3 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 7.5px;
    padding-left: 7.5px;
    padding-right: 15px;
  }
  .pd-topscore {
    padding-top: 2rem;
  }
}

@media (min-width: 992px) {
  .bg_header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -0.03%;
    bottom: 90.66%;

    background: rgba(0, 0, 0, 0.5);
  }
  .main1 {
    background-image: url("assets/main-bg1.jpg");
    height: 960.1360473632812px;
    width: 1441.548828125px;
    background-size: cover;
  }

  .title p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #ffffff;
    padding-bottom: 30px;
  }
  .main1 .description p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #ffffff;
    padding-bottom: 30px;
  }
  .btn-container button {
    font-size: 16px;
    font-weight: bold;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 80px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: center;
    padding-top: 50px;
  }
  .scroll {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
  }
  .scroll p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .the-game {
    background-image: url("assets/the-games-bg.jpg");
    height: 960.1360473632812px;
    width: 1441.548828125px;
    background-size: cover;
  }

  .teks1 p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #ffffff;
  }
  .teks2 p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #ffffff;
  }
  .kiri {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kiri button {
    border: none;
    padding-top: 170px;
    padding-left: 50px;
  }
  .kanan {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kanan button {
    border: none;
    padding-left: 250px;
    padding-top: 180px;
  }
  .size-gunting {
    width: 100%;
  }
  .pict {
    padding-top: 30px;

    width: 750px;
  }
  .pd-teks {
    padding-top: 270px;
  }

  .main3 {
    background-image: url(assets/features.jpg);
    background-size: cover;
    width: 1441.62px;
    height: 870.26px;
  }
  li.circle {
    list-style-type: circle;

    margin-top: -50px;
  }
  #tanda {
    height: 1rem;
    width: 1rem;
  }

  .list-style p {
    border-left: 1px solid rgb(255, 255, 255);
    padding: 15px;
    position: relative;
    left: -16px;
    top: -20px;
  }
  .system-requirements {
    background-image: url(./assets/bg\ image\ 4.png);
    background-size: cover;
    height: 969px;
    width: 1441.58px;
  }
  .border {
    border: 1px solid #979797;
  }

  .req h3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #ffb548;
  }
  .req h5 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    color: #ffffff;
  }

  .top-scores {
    background-image: url(./assets/topscore1.png);
    background-size: cover;
    height: 900px;
    width: 1441.58px;
  }
  .btn-topscores {
    width: 15rem;
    height: 3rem;
  }
  .cbuser1 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .cbuser2 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
  }
  .cbuser3 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
  }
  .user1 {
    padding-left: 150px;
    padding-bottom: 10px;
  }
  .user2 {
    padding-right: 150px;
  }
  .user3 {
    padding-left: 150px;
    padding-top: 10px;
  }
  .footer {
    background-image: url(./assets/Rectangle\ 4.3.png);
    height: 850px;
    width: 1440.2px;
  }
  .pdt100 {
    padding-top: 100px;
  }
  .pdt50 {
    padding-top: 50px;
  }
  .patung {
    width: 440px;
    padding-left: 100px;
  }
  .pd-topscore {
    padding-top: 10rem;
  }
}
